* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.back{
	background-color:#ec715f;
}
.front{
	background-color:#ec715f;
	height:70px;
	width:1024px;
	margin:0 auto;
}

.head-image{
	height:70px;
	float:left;
}
.nav-list{
	text-align:right;
	line-height:70px;
}
li{
	display:inline-block;
	size:16px;
	color:#fff;
	padding:0 30px;
}



.main-visual{
	max-width:100%;
	height:650px;
	background-image:url(img/mv.png);
	background-size:cover;
	background-position: center;
}

strong{
	color:#fafafa;
	font-size:64px;
	display:block;
	text-align:center;
	padding-top:200px;
}
.mv-text{
	color:#fafafa;
	text-align:center;
	padding-top:10px;
}

.content{
	max-width:100%;
	background-color:#eceff1;
}

.main-content{
	background-color: #eceff1;
	width:920px;
	margin:0 auto;
}

.main-feature{
	width:980px;
	margin:0 auto;
}

.content-title, .feature-title, .profile-title, .contact-title{
	text-align: center;
	font-size:32px;
	padding-top:90px;
}

.content-title::after, .feature-title::after, .profile-title::after, .contact-title::after{
	content:"";
	display:block;
	height:3px;
	width:70px;
	background-color:#ec715f;
	margin:8px auto 0 auto;
}

.content-explanation, .feature-explanation, .profile-explanation, .contact-explanation{
	margin:30px auto;
	text-align:center;
}

.img1{
	background-image:url(img/sketch.jpg);
	background-size:cover;
	background-position: center;
	height:250px;
	width:300px;
	float:left;
	margin-bottom:10px;
}
.img2{
	background-image:url(img/websuku.png);
	background-size:cover;
	background-position: center;
	height:250px;
	width:300px;
	float:left;
	margin:0 10px 10px 10px;
}
.img3{
	background-image:url(img/write.jpg);
	background-size:cover;
	background-position: center;
	height:250px;
	width:300px;
	float:left;
	margin-bottom:10px;
}
.img4{
	background-image:url(img/webcamp.png);
	background-size:cover;
	background-position: center;
	height:250px;
	width:300px;
	float:left;
}
.img5{
	background-image:url(img/talk.jpg);
	background-size:cover;
	background-position: center;
	height:250px;
	width:300px;
	float:left;
	margin:0 10px;
	margin-bottom:90px;
}
.img6{
	background-image:url(img/webcamp-mother.png);
	background-size:cover;
	background-position: center;
	height:250px;
	width:300px;
	float:left;
}

.left-item, .center-item, .right-item{
	width:320px;
	float:left;
}

.center-item{
	margin:0 10px 90px 10px;
}

.fas, .fab{
	font-size:60px;
	display:inherit;
}

.feature-content-title{
	text-align:center;
	margin:10px 0;
}

i{
	size:60px;
	text-align:center;
}

.profile{
	max-width:100%;
	background-color:#eceff1;
}

.main-profile{
	width:1024px;
	margin:0 auto;
	padding-bottom:90px;
}

.profile-image{
	width:512px;
	float:left;
}

.face-icon{
	background-image:url(img/my-icon.jpg);
	border-radius:50%;
	width:250px;
	height:250px;
	margin:0 auto;
}

.profile-content{
	width:512px;
	float:left;
}

.name{
	margin-bottom:5px;
}

.skill{
	margin:20px 0 5px 0;
}

.contact{
	width:100%;
}

.main-contact{
	width:800px;
	margin:0 auto;
	padding-bottom:90px;
}

.left-box, .right-box{
	width:400px;
	float:left;
}

.left-box-content{
	margin:0 auto;
	width:200px;
}

.right-box .fab{
	font-size:50px;
	float:left;
	margin-right:20px;
}

.mail-text, .tel-text{
	color:#212121;
}

footer{
	height:60px;
	width:100%;
	background-color:#ec715f;
}

.foot{
	color:#fafafa;
	line-height:60px;
	text-align:center;
}